.container{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.demoRow{
  margin:8px;
  padding:8px;
  /* border:1px solid darkgray; */
  width: 100%;
  max-width: 300px;
}

.buttonsWrap{
  display:flex;
}

.buttonsWrap button {
  margin-right:8px
}
